[Desktop Entry]
Name=Tiled Quicklaunch
Comment=

Type=Service
Icon=org.kde.plasma.quicklaunch
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Main.qml

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=piotr4@gmail.com
X-KDE-PluginInfo-Name=risu.tiled.quicklaunch
X-KDE-PluginInfo-Version=1(30)
X-KDE-PluginInfo-Website=https://store.kde.org/p/1319588/
X-KDE-PluginInfo-KdeStoreId=1319588
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
